<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contacto</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/index.css"">
    </head>
    <body>
        <header class=" page-header"> <!-- Inicio Header -->
    <nav class="navbar container">
        <picture class="nabvar__logo">
            <a href="../../index.html">
                <img src="../../img/multimedia/branding/logo_light_horizontal.svg"
                    alt="Isologotipo de la Marca Funkoshop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="./shop.html">SHOP<iconify-icon
                        icon="tabler:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">LLaveros</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="navbar__link" href="../shop/contacto.html">CONTACTO</a>
            </li class="navbar__item">
            <li>
                <a class="navbar__link" href="../admin/login.html">LOGIN</a>
            </li class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__cart" href="./carrito.html">
                    <img src="../../img/multimedia/icons/cart-icon.svg" alt="ícono de carrito">
                </a>
            </li>
        </ul>
    </nav>
    </header> <!--   Fin Header -->



    <main id="contactf" class="container">
        <h1 class="login__title"> INGRESA TUS DATOS</h1>
        <form id="myForm" class="contact__form">
            <label for="nombre" class="text-form">NOMBRE</label>
            <input class="form__input" type="text" id="nombre" name="nombre" required placeholder="Maria">

            <label for="email" class="text-form">EMAIL</label>
            <input class="form__input" type="email" id="email" name="email" required placeholder="maria@example.com">

            <label for="mensaje" class="text-form">MENSAJE</label>
            <textarea class="form__input" id="mensaje" name="mensaje" rows="4" required
                placeholder="Hola! me gustaría recibir información"></textarea>

            <button id="submitButton" class="btn-form" type="submit">Enviar</button>
        </form>
    </main>

    </>




    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="./shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./contacto.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/multimedia/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>


    <script src="/public/js/formulario.js" async defer></script>
    </body>

</html>